@(message: String)
<!DOCTYPE html> 
<html> 
<head> 
    <title>Stats</title> 
    <meta name="viewport" content="width=device-width, initial-scale=1"> 
    <link rel="stylesheet" href="http://code.jquery.com/mobile/1.2.1/jquery.mobile-1.2.1.min.css" />
    <script src="http://code.jquery.com/jquery-1.8.3.min.js"></script>
    <script src="http://code.jquery.com/mobile/1.2.1/jquery.mobile-1.2.1.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.4/angular.min.js"></script>
    <script src="@routes.Assets.at("javascripts/BodyStatsApp.js")" type="text/javascript"></script>
    <script src="@routes.Assets.at("javascripts/DailyStatsApp.js")" type="text/javascript"></script>
</head> 
<body> 
    <div data-role="page" id="bodystats">
        <div data-role="header">
            <h1>Kroppens</h1>
        </div>
        <a href="#dailystats" data-role="button" data-corners="true" data-shadow="true" data-iconshadow="true" data-wrapperels="span" data-theme="c" class="ui-btn ui-shadow ui-btn-corner-all ui-btn-up-c"><span class="ui-btn-inner ui-btn-corner-all"><span class="ui-btn-text">Dagligstats</span></span></a>
        <div data-role="content">
          <form ng-controller="BodyCtrl">
              Vikt: <input type="text" ng-model="stat.vikt" placeholder="Vikt" value={{stat.vikt}}>
              Fettprocent: <input type="text" ng-model="stat.fett2" placeholder="Fettprocent" value={{stat.fett2}}>
              Mage: <input type="text" ng-model="stat.mage" placeholder="Mage" value={{stat.mage}}>
              Bröstkorg: <input type="text" ng-model="stat.brost" placeholder="Bröstkorg" value={{stat.brost}}>
              Nacke: <input type="text" ng-model="stat.nacke" placeholder="Nacke" value={{stat.nacke}}>
              <input type="button" ng-click="addDailyBodyStats()" value="Posta till Google spreadsheet" />
          </form>
        </div>
    </div>
    <div data-role="page" id="dailystats">
        <div data-role="header">
            <h1>Mat, träning och fasta</h1>
        </div>
        <a href="#bodystats" data-role="button" data-corners="true" data-shadow="true" data-iconshadow="true" data-wrapperels="span" data-theme="c" class="ui-btn ui-shadow ui-btn-corner-all ui-btn-up-c"><span class="ui-btn-inner ui-btn-corner-all"><span class="ui-btn-text">Kroppen</span></span></a>
        <div data-role="content">
          <form ng-controller="DailyCtrl">
                <div data-role="fieldcontain">
                    <!--input type="text" id="date" ng-model="stat.date" /-->
                    <fieldset data-role="controlgroup">
                       <legend>Mat</legend>({{stat.mat}})
                       <input type="checkbox" name="checkbox-1" id="checkbox-1" class="custom" ng-model="stat.frukost" ng-true-value="20" ng-false-value="0" />
                       <label for="checkbox-1">SC frukost</label>
                       <input type="checkbox" name="checkbox-2" id="checkbox-2" class="custom" ng-true-value="20" ng-false-value="0" ng-model="stat.lunch" />
                       <label for="checkbox-2">SC lunch</label>
                       <input type="checkbox" name="checkbox-3" id="checkbox-3" class="custom" ng-true-value="20" ng-false-value="0" ng-model="stat.middag" />
                       <label for="checkbox-3">SC middag</label>
                       <input type="checkbox" name="checkbox-4" id="checkbox-4" class="custom" ng-true-value="40" ng-false-value="0" ng-model="stat.ingetsocker" />
                       <label for="checkbox-4">Inget socker</label>
                    </fieldset>
                    <fieldset data-role="controlgroup">
                       <legend>Träning</legend>({{stat.traning}})
                       <input type="checkbox" name="checkbox-5" id="checkbox-5" class="custom" ng-true-value="140" ng-false-value="0" ng-model="stat.traning" />
                       <label for="checkbox-5">30 min</label>
                    </fieldset>
                    <fieldset data-role="controlgroup">
                       <legend>Fasta</legend>({{stat.fasta}})
                       <input type="checkbox" class="custom" id="checkbox-6" name="checkbox-6" ng-true-value="350" ng-false-value="0" ng-model="stat.fasta"/>
                       <label for="checkbox-6">En dag</label>
                    </fieldset>
                    <input type="button" ng-click="addDailyDailyStats()" value="Posta till Google spreadsheet" />
                </div>
            </form>
        </div>
    </div>
    <script type="text/javascript">
        angular.bootstrap(document.getElementById('bodystats'), ['BodyStatsApp']);
        angular.bootstrap(document.getElementById('dailystats'), ['DailyStatsApp']);
    </script>
</body>
</html>